<!-- Footer Bar Section -->

<div class="foot">
  <div routerLink="/home" class="home">
    <mat-icon>home</mat-icon>
    <mat-card-content>Home</mat-card-content>
  </div>
  <div routerLink="/sleep" class="sleep">
    <mat-icon>brightness_2</mat-icon>
    <mat-card-content>Sleep</mat-card-content>
  </div>
  <div routerLink="/meditation" class="meditate">
    <mat-icon>music_note</mat-icon>
    <mat-card-content>Meditation</mat-card-content>
  </div>
  <div routerLink="/relax" class="relax">
    <mat-icon>library_music</mat-icon>
    <mat-card-content>Relax</mat-card-content>
  </div>
  <div routerLink="/settings" class="setting">
    <mat-icon>settings</mat-icon>
    <mat-card-content>Settings</mat-card-content>
  </div>
</div>
