@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Roboto&family=Zeyada&display=swap");
.melodies {
  text-align: center;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
  background: #649173;
  background: -webkit-linear-gradient(to right, #dbd5a4, #649173);
  background: linear-gradient(to right, #dbd5a4, #649173);
}
.melodies mat-toolbar{
  background: #649173;
  background: -webkit-linear-gradient(to right, #dbd5a4, #649173);
  background: linear-gradient(to right, #dbd5a4, #649173);
}
.melosong {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.melosong h1 {
  font-family: "dancing script";
  font-size: 40px;
  color: rgb(10, 7, 63);
}
.example-spacer {
  flex: 1 1 auto;
}
.Melosongtab {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.Melosongtab span{
  font-family: "dancing script";
  color: rgb(10, 7, 63);
  font-size: 30px;
  cursor: pointer;
}
.songmelody {
  display: block;
  justify-content: center;
  align-items: center;
}
.songmelody mat-grid-list {
  align-content: center;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.melogrid mat-grid-tile {
  margin-top: auto;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: aqua;
  background-color: aliceblue;
  flex-direction: column;
}
.melogrid h4 {
  color: white;
  flex-wrap: wrap;
  flex-direction: column;
}
.melogrid audio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  opacity: 0.3;
  flex-direction: column;
}
.melogrid mat-grid-tile:hover {
  animation: roll 3s infinite;
  transform: rotate(180deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
