<!-- Signup Form Section -->

<div class="create">
  <div class="icon1">
    <mat-icon id="arr" routerLink="/login">arrow_back</mat-icon>
  </div>
  <div class="lol">
    <img src="../../assets/Images/download.png" alt="">
  </div>
  <br>
  <div class="acc">
    <h3>Create your account</h3>
    <br>
    <div class="fbut1">
      <button mat-fab extended>
        <mat-icon> facebook</mat-icon>
        Continue with Facebook
      </button><br>
      <div class="google1">
        <button mat-fab extended>
          <mat-icon><img src="../../assets/Images/google-logo-9824.png" alt=""></mat-icon>
          Continue with Google
        </button>
      </div>
    </div>
    <br>
    <form class="signmail" [formGroup]="loginform">
      <h4>OR LOG IN WITH EMAIL</h4>
      <mat-form-field appearance="outline">
        <mat-label>Enter your fullname</mat-label>
        <input formControlName="fname" matInput placeholder="Krishna Kaul" required>
        <mat-error *ngIf="fname && fname.invalid && fname.touched">
          <small *ngIf="fname?.hasError('required')" class="small">Firstname is required</small>
          <small *ngIf="fname?.hasError('pattern')" class="small">Firstname is Incorrect</small>
        </mat-error>
        <button mat-icon-button matSuffix>
          <mat-icon>done</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="email && email.invalid && email.touched">
          <small *ngIf="email?.hasError('required')" class="small">Email is required</small>
          <small *ngIf="email?.hasError('email')" class="small">Email is Incorrect</small>
        </mat-error>
        <button mat-icon-button matSuffix>
          <mat-icon>email</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput class="formControl" formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="password && password.invalid && password.touched">
          <small *ngIf="password?.hasError('required')" class="small">Password is required</small>
          <small *ngIf="password?.hasError('pattern')" class="small">Password is Incorrect</small>
        </mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="get">
      <button (click)="signup()" [disabled]="loginform.invalid" mat-fab extended>
        GET STARTED
      </button>
    </div>
  </div>
