<app-navbar></app-navbar>
<div class="manage">
  <br>
  <div class="subscription">
    <h1><mat-icon id="icon">subscriptions</mat-icon> Manage Subscription</h1>
  </div>
  <hr>
  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="Community">
      <div class="community">
        <p>Get started with community. Enjoy free meditation at zero cost.</p>
        <strong>$0 <span> - Free forever</span></strong><br>
        <button mat-raised-button color="primary">EXPLORE NOW</button>
      </div>
    </mat-tab>
    <mat-tab label="Pro">
      <div class="pro">
        <p>Get started with breathly pro and enjoy lots of more features of meditation.</p>
        <strong>$15<span>/Month</span></strong><br>
        <button mat-raised-button color="primary">BUY PRO</button>
      </div>
    </mat-tab>
    <mat-tab label="Premium">
      <div class="premium">
        <p>Get started with breathly premium & enjoy the most advanced features of meditation, as well as the highest
          priority for support.</p>
        <strong>$23<span>/Month</span></strong><br>
        <button mat-raised-button color="primary">BUY PREMIUM</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<app-footer></app-footer>
